<link rel="stylesheet" href="../css/adminUI_style.css">
<div data-ng-init="init()" style="width:100%">
	<div id="container">
		<div class="adminComponent left_component">
			<div class="component_head">
				<form>
					<input type="text" placeholder="Add New Domain" ng-model="newDomain" class="admin_input">
					<button type="submit" id="add_button" ng-click="addNewDomainName()">Add</button>	
				</form>
				<input type="text" placeholder="Search Domains" ng-model="domainFilter" class="admin_input">
			</div>
			
			<div class="scrollableTable">
				<table>
					<tr ng-repeat="blacklisted in domainsList|filter:domainFilter">
						<td>{{blacklisted.domain}}</td>
						<td class="removedomain_cont">
							<button ng-click="removeThisDomain(blacklisted)" class="removedomain_button">-</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="adminComponent right_component">
			<div class="component_head">
				<div id="vb_title">
					Validated Buyers
				</div>
				<input type="text" placeholder="Search Buyers" ng-model="buyerFilter" class="admin_input" style="width:80%;">
			</div>
			<div class="scrollableTable">
				<table>
					<tr ng-repeat="buyer in buyerList|filter:buyerFilter">
						<td>{{buyer.firstname}}</td>
						<td>{{buyer.lastname}}</td>
						<td class="email">{{buyer.email}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
</div>